@model IEnumerable<MusicStore.NetFramework.WebApp.Models.Album>

@{
	ViewBag.Title = "Lista";
	Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div id="productlist-content">
	@Html.Action("GenresMenu")
	<div id="productlist-rightsection">
		<div id="breadcrumb-section">
			<img src="@Url.Content("~/Content/Images/home-small.png")" />
			@Html.MvcSiteMap().SiteMapPath()

			@* INFO - data-ajax-target - własny atrybut określający którey element zostanie odświeżony ajaxem *@
			<form id="search-form" method="get" data-ajax="true" data-ajax-target="#productlist-section">
				@* INFO - HTML5 umożliwia dodawanie własnych atrybutów data-wlasny_atrybut, czyli musi się zaczynać od data- a później własna nazwa *@
				<input id="search-filter"
					   type="search"
					   name="searchQuery"
					   data-autocomplete-source="@Url.Action("AlbumsSuggestions")"
					   placeholder="Wprowadź tekst, aby wyfiltrować..." />
				<input type="submit" value="" />
			</form>
		</div>

		@* INFO - Html.Partial domyślnie przekazuje do partiala ten sam model, który jest w widoku *@
		@Html.Partial("_ProductList")
	</div>
</div>

@section ScriptsBottom
{
	@System.Web.Optimization.Scripts.Render("~/bundles/jquery")
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

	<script>
		$(function () {
			var ajaxSubmit = function () {
				var $form = $(this);
				var settings = {
					data: $(this).serialize(),
					url: $(this).attr("action"),
					type: $(this).attr("method")
				};
				$.ajax(settings).done(function (result) {
					var $targetElement = $($form.data("ajax-target"));
					var $newContent = $(result);
					$($targetElement).replaceWith($newContent);
					$newContent.effect("slide");
				});
				return false;
			};

			var setupAutoComplete = function () {
				var $input = $(this);
				var options = {
					source: $input.attr("data-autocomplete-source"),
					select: function (event, ui) {
						$input = $(this);
						$input.val(ui.item.label);
						var $form = $input.parents("form:first");
						$form.submit();
					}
				};
				$input.autocomplete(options);
			};
			// podczas wysyłania formularza przez submit to wywołaj tą funkcję
			$("#search-form").submit(ajaxSubmit);
			$("#search-filter").each(setupAutoComplete);
		});
	</script>
}